<html>
    <head>

    </head>
    <body>
        <form [formGroup]="todoForm" (ngSubmit)="add()" >
        <input formControlName="name" name="todo" type="text" required>
        <input formControlName="description" name="description" type="text">
        <button type="submit">Add</button>
        </form>

        <table>
            
          <tr *ngFor="let list of todos;let i=index">
            <td>{{list.name}}</td> 
            <td>{{list.description}}</td>
          
          
        </tr>
        </table>
    </body>
</html>
